
.cocktailCard{
  background: var(--white);
  box-shadow: var(--shadow-2);
  transition: var(--transition);
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: var(--borderRadius);
}
.cocktailCard:hover {
    box-shadow: var(--shadow-4);
    transform: scale(1.03);
}
.cocktailCard img {
    height: 15rem;
    border-top-left-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);
}
.cocktailCard .footer {
    padding: 1.5rem;   
} 
.cocktailCard .footer h4,h5 {
    margin-bottom: 0.5rem;
}
.cocktailCard .footer h4 {
    font-weight: 700;
}
.cocktailCard .footer p {
    margin-bottom: 1rem;
    color: var(--grey-500);
}


