.cocktail header{
    text-align: center;
    margin-bottom: 3rem;
}
.cocktail .btn {
    margin-bottom: 1rem;
}

.cocktail  .img {
    border-radius: var(--borderRadius);

}
.cocktail .drink_info {
    padding-top: 2rem;
}
.cocktail .drink p {
    font-weight: 700;
    text-transform: capitalize;
    line-height: 2;
    margin-bottom: 1rem;
}
.cocktail .drink_data {
    margin-right: 0.5rem;
    background: var(--primary-300);
    padding: 0.25rem 0.5rem;
    border-radius: var(--borderRadius);
    color: var(--primary-700);
    letter-spacing: var(--letterSpacing);
}
.cocktail .ing {
    display: inline-block;
    margin-right: 0.5rem;
}
@media (min-width: 992px) {
.cocktail .drink {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    align-items: center;
}
.cocktail .drink_info {
    padding-top: 0;
}
}


